--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
pydantic==2.11.3

mlflow==2.22.0
numpy==2.1.3
pandas==2.2.3
pillow==11.1.0

# CPU-only wheels for Render free instances
torch==2.5.1+cpu
torchvision==0.20.1+cpu
